.dateCenterCont {
    width: 300px;
    /* box-sizing: border-box; */
    border-radius: 10px;
    border: 1px rgb(209 205 205 / 10%) solid;
    background: #aeaeae;
    /* backdrop-filter: blur(5px); */
    position: absolute;
    bottom: 50px;
    right: 0px;
    z-index: 9999;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
    overflow: hidden;
}