.startMenuAppsContList {
    width: 420px;
    /* padding-bottom: 10px; */
    height: 330px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
    position: relative;
    /* background: #f00; */
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.startMenuAppsContList::-webkit-scrollbar {
    display: none;
  }
