.bottomBar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomLeftBar {
    width: 50%;
}

.bottomRightBar {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 0px 10px;
}