.fileGuideOptionButton {
    min-width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    user-select: none;
    color: #c4c0c0;
    border-radius: 5px;
    padding: 0px 5px;
    transition: 0.2s;
}

.fileGuideOptionButtonActive {
    color: #444
}

.fileGuideOptionButtonActive:hover {
    background: #d2d2d2;
}

.fileGuideOptionButtonActive:active {
    scale: 0.95;
}

.fileGuideOptionButton svg {
    width: 16px;
    height: 16px;
    fill: #c4c0c0
}

.fileGuideOptionButtonActive svg {
    width: 16px;
    height: 16px;
    fill: #444
}