.controlBatteryCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    user-select: none;
}

h1.header {
    padding: 0px 0px 10px 0px;
    margin: 0px;
    font-size: 14px;
    color: #353535;
    user-select: none;
}

.stateBattery {
    width: 66px;
    height: 24px;
    border: 2px #000 solid;
    border-radius: 5px;
    position: relative;
    padding: 2px;
    box-sizing: border-box;
}

.stateBatteryInside {
    width: 100%;
    height: 16px;
    border-radius: 3px;
    background: #000;
}

.stateBatteryInsideRed {
    background: #800a0a;
}

.stateBatteryInsideGreen {
    background: #068a46;
}

.stateBattery:after {
    content: '';
    display: block;
    width: 4px;
    height: 12px;
    border-radius: 2px;
    background: #000;
    position: absolute;
    right: -8px;
    top: 4px;
}