.navBarCont {
    height: 50px;
    display: flex;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px rgb(209 205 205 / 10%) solid;
    background: rgb(255 255 255 / 20%);
    backdrop-filter: blur(5px);
}

.navBarMain, .navBar {
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    padding: 0px;
}

.navBarMain {
    border-radius: 25px;
    border-right: 1px rgb(209 205 205 / 10%) solid;
    background: rgb(209 205 205 / 20%);
    backdrop-filter: blur(5px);
}

.navBarMain .navBarIconCont {
    align-items: center;
    justify-content: center;
}

.navBar {
    padding: 0px 10px;
}