.controlSlider {
    font-size: 15px;
    width: 100%;
}
 
.controlSlider {
    --thumb-height: 1.125em;
    --track-height: 0.125em;
    --track-color: rgba(0, 0, 0, 0.2);
    --brightness-hover: 90%;
    --brightness-down: 80%;
    --clip-edges: 0.125em;
}
 
.controlSlider.win10-thumb {
    color: #2b2d42;
    --thumb-height: 1.375em;
    --thumb-width: 0.5em;
    --clip-edges: 0.0125em;
}

.controlSlider {
    position: relative;
    background: #fff0;
    overflow: hidden;
}
 
.controlSlider:active {
    cursor: grabbing;
}
 
.controlSlider:disabled {
    filter: grayscale(1);
    opacity: 0.3;
    cursor: not-allowed;
}
 
/* === WebKit specific styles === */
.controlSlider,
.controlSlider::-webkit-slider-runnable-track,
.controlSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}
 
.controlSlider::-webkit-slider-runnable-track,
.controlSlider::-webkit-slider-thumb {
    position: relative;
}
 
.controlSlider::-webkit-slider-thumb {
    --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;
 
    width: var(--thumb-width, var(--thumb-height));
    background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
    background-color: currentColor;
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));
 
    filter: brightness(100%);
    clip-path: polygon(
        100% -1px,
        var(--clip-edges) -1px,
        0 var(--clip-top),
        -100vmax var(--clip-top),
        -100vmax var(--clip-bottom),
        0 var(--clip-bottom),
        var(--clip-edges) 100%,
        var(--clip-further) var(--clip-further)
    );
}
 
.controlSlider:hover::-webkit-slider-thumb {
    filter: brightness(var(--brightness-hover));
    cursor: default;
}
 
.controlSlider:active::-webkit-slider-thumb {
    filter: brightness(var(--brightness-down));
    cursor: default;
}
 
.controlSlider::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}
 
.controlSlider:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
}
 
 /* === Firefox specific styles === */
.controlSlider,
.controlSlider::-moz-range-track,
.controlSlider::-moz-range-thumb {
    appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}
 
.controlSlider::-moz-range-track,
.controlSlider::-moz-range-thumb,
.controlSlider::-moz-range-progress {
    background: #fff0;
}
 
.controlSlider::-moz-range-thumb {
    background: currentColor;
    border: 0;
    width: var(--thumb-width, var(--thumb-height));
    border-radius: var(--thumb-width, var(--thumb-height));
    cursor: default;
}
 
.controlSlider:active::-moz-range-thumb {
    cursor: default;
}
 
.controlSlider::-moz-range-track {
    width: 100%;
    background: var(--track-color);
}
 
.controlSlider::-moz-range-progress {
    appearance: none;
    background: currentColor;
    transition-delay: 30ms;
}
 
.controlSlider::-moz-range-track,
.controlSlider::-moz-range-progress {
    height: calc(var(--track-height) + 1px);
    border-radius: var(--track-height);
}
 
.controlSlider::-moz-range-thumb,
.controlSlider::-moz-range-progress {
    filter: brightness(100%);
}
 
.controlSlider:hover::-moz-range-thumb,
.controlSlider:hover::-moz-range-progress {
    filter: brightness(var(--brightness-hover));
}
 
.controlSlider:active::-moz-range-thumb,
.controlSlider:active::-moz-range-progress {
    filter: brightness(var(--brightness-down));
}
 
.controlSlider:disabled::-moz-range-thumb {
    cursor: default;
}