.startMenuTilesCont {
    width: 310px;
    height: 380px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0px 0px 10px 0px;
    margin: 0px 0px 0px 10px;
    box-sizing: border-box;
    overflow-y: auto;
    /* position: relative; */
    /* background: rgba(255,255,255,0.2); */
}